<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ZClient.Properties.Settings>
            <setting name="ZClient_WSCallCenter_CCService" serializeAs="String">
                <value>http://222.66.66.222:55554/OpmsTest/CCService.asmx?wsdl</value>
            </setting>
            <setting name="ZClient_WSMain_MainService" serializeAs="String">
                <value>http://222.66.66.222:55554/OpmsTest/MainService.asmx</value>
            </setting>
            <setting name="ZClient_WSCrm_CrmService" serializeAs="String">
                <value>http://222.66.66.222:55554/OpmsTest/CrmService.asmx</value>
            </setting>
        </ZClient.Properties.Settings>
    </applicationSettings>
</configuration>